*{
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
body{
font-family: 'Roboto', sans-serif;
}
@font-face {
    font-family: 'new_ciclefina';
    src: url('New_Cicle_Fina-webfont.eot');
    src: url('New_Cicle_Fina-webfont.eot?#iefix') format('embedded-opentype'),
         url('New_Cicle_Fina-webfont.woff2') format('woff2'),
         url('New_Cicle_Fina-webfont.woff') format('woff'),
         url('New_Cicle_Fina-webfont.ttf') format('truetype'),
         url('New_Cicle_Fina-webfont.svg#new_ciclefina') format('svg');
    font-weight: normal;
    font-style: normal;

}


@media screen {
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.col-0 {width: 4.16%;}
[class*="col-"] {
    float: left;
    padding: 25px;
    /*border: 1px dashed rgba(255,0,0,0.3);*/
    height:100%;
    /*display: inline-block;*/
}

@-webkit-keyframes opacitychange1
{
from {opacity: 0;}
to {opacity: 1;}
}
@-webkit-keyframes opacitychange2
{
from {opacity: 0;}
to {opacity: .5;}
}
@-webkit-keyframes opacitychange3
{
from {opacity: 0;}
to {opacity: .8;}
}

.changeColor {
   background-color: white;
   transition: .5s all;
}

.topbar{
  position: fixed;
  width:100%;
  height:8%;
  z-index: 600;

}
.topbar a{
  /* font-family: 'new_ciclefina'; */
  font-size: 100%;
  text-decoration: none;
  color:black;
  position: fixed;
  transform: translateY(-40%);
}

.collection{
  width: 8.33%;
  padding-left:0;
  padding-right:0;
  margin-top: .35%;
  margin-left: 2.5%;
  text-align: left;
}

#collection{
    opacity:0.5;
   -webkit-animation: opacitychange2 4s;
}
#collection:hover{
    cursor: pointer;
    opacity: 1;
    font-size: 110%;
}

.dropdown1{
  z-index: 503;
  background-color: white;
  width: 120%;
  padding-top: 15%;
  padding-bottom: 0;
  padding-left: 10%;
  margin-top: 8%;
  opacity: 0.8;
  -webkit-animation: opacitychange3 1.5s;
}

.dropdown1 li{
  list-style-type:none;
  list-style-image: url(img/plus2.png);
  line-height: 2;
}

#dd1 a{
  font-weight: 300;
  font-size: 90%;
  color:black;
  float: left;
  opacity:1;
}
#dd1 a:hover{
  font-size:100%;
  opacity:1;
}

.topelement{
  width: 8.33%;
  padding-left:0;
  padding-right:0;
  margin-top: .35%;
  margin-left: 2.5%;
  text-align: left;
  opacity:0.5;
  -webkit-animation: opacitychange2 4s;
}

.topelement:hover{
  cursor: pointer;
  opacity: 1;
  font-size: 110%;
}
#logo{
  z-index: 502;
  width:33.33%;
  -webkit-animation: opacitychange1 2s;
}

.content{
  padding-top: 10%;
  z-index: -480;
  -webkit-animation: opacitychange1 1s;
}
.content img{
  width: 75%;
  margin-left: 10%;
  margin-bottom: 2%;
}
#maintitle{
  text-align: center;
  font-size:120%;
  font-weight: 500;
  margin-bottom: 2%;
}
#sectitle{
  text-align: center;
  font-size:500%;
  font-weight: 700;
  letter-spacing: 5px;
  margin-bottom: 2%;
}
#info{
  margin-bottom: 5%;
  padding-left: 10%;
  padding-right: 15%;
}
#info p{
  text-align: left;
  font-size: 100%;
  color:red;
  font-weight: 400;
}

.contactemail{
  margin-bottom:5%;
}
/* .topbar a:hover{
  border-bottom: 4px solid red;
  cursor:pointer;
} */

/* .gifs img:hover{
-webkit-filter: drop-shadow(0px 0px 3px blue);
filter: drop-shadow(0px 0px 3px blue);
} */


/* .taglist{
  z-index: 504;
  height: 100%;
}
.taglist a:hover{
  cursor: pointer;
}
.taglist{
  position: fixed;
  padding-right:28%;
  transform: translateX(95%);
  margin-top: 25%;
}

.taglist li{
  margin-bottom: 1%;
  list-style: none;
  opacity:0.2;
}

.taglist li:hover{
  opacity:1;
}
.social{
  width:2.8%;
} */
